body{
    margin: 0;
}

.row1,
.row2 {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding: 2em 0;
}

.row1 {
    width: 100%;
    background-color: lightgray;
    overflow: hidden;
}

.row2{
    line-height: 150%;
}

.container {
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

.button {
    background-color: #2A334F;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
}

.button:hover {
    background-color: #414E73;
}

.responsive iframe,
.responsive svg {
    position: absolute;
    top: 0;
    left: 15%;
    width: 70%;
    height: 100%;
}

.responsive {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 0;
    height: 0;
    overflow: hidden;
}