body{
    margin: 0;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

.row1,
.row2 {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding: 2em 0;
}

.row1 {
    width: 100%;
    background-color: lightgray;
    overflow: hidden;
}

.row2{
    line-height: 150%;
}

.button {
    background-color: #2A334F;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
}

.button:hover {
    background-color: #414E73;
}

.logo svg {
    position: absolute;
    top: 0;
    height: 100%;
}

.logo svg {
    left: 25%;
    width: 50%; 
}

.logo {
    position: relative;
    padding-bottom: 40%;
    padding-top: 0;
    height: 0;
    overflow: hidden;
}

.logo {
    padding-bottom: 30%;
}

.grid-container {  
    
  display: grid;
  grid-template-columns: 42% 50%;
  grid-column-gap: 5%;  
  grid-template-areas: 
      "left right" 
      "left right";
}

.left { 
    grid-area: left; 
}

.left img,
.right img { 
    max-width: 100%;
}

.right { 
    grid-area: right; 
}

#credits {
    font-size: 0.5em;
}
